/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="侧边栏天气预报"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="侧边栏天气预报"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 457.32 457.32" ><g id="XMLID_467_">	<path id="XMLID_922_" d="M228.66,112.692c-63.945,0-115.968,52.022-115.968,115.967c0,63.945,52.023,115.968,115.968,115.968		s115.968-52.023,115.968-115.968C344.628,164.715,292.605,112.692,228.66,112.692z"/>	<path id="XMLID_1397_" d="M401.429,228.66l42.467-57.07c2.903-3.9,3.734-8.966,2.232-13.59c-1.503-4.624-5.153-8.233-9.794-9.683		l-67.901-21.209l0.811-71.132c0.056-4.862-2.249-9.449-6.182-12.307c-3.934-2.858-9.009-3.633-13.615-2.077l-67.399,22.753		L240.895,6.322C238.082,2.356,233.522,0,228.66,0c-4.862,0-9.422,2.356-12.235,6.322l-41.154,58.024l-67.4-22.753		c-4.607-1.555-9.682-0.781-13.615,2.077c-3.933,2.858-6.238,7.445-6.182,12.307l0.812,71.132l-67.901,21.209		c-4.641,1.45-8.291,5.059-9.793,9.683c-1.503,4.624-0.671,9.689,2.232,13.59l42.467,57.07l-42.467,57.07		c-2.903,3.9-3.734,8.966-2.232,13.59c1.502,4.624,5.153,8.233,9.793,9.683l67.901,21.208l-0.812,71.132		c-0.056,4.862,2.249,9.449,6.182,12.307c3.934,2.857,9.007,3.632,13.615,2.077l67.4-22.753l41.154,58.024		c2.813,3.966,7.373,6.322,12.235,6.322c4.862,0,9.422-2.356,12.235-6.322l41.154-58.024l67.399,22.753		c4.606,1.555,9.681,0.781,13.615-2.077c3.933-2.858,6.238-7.445,6.182-12.306l-0.811-71.133l67.901-21.208		c4.641-1.45,8.291-5.059,9.794-9.683c1.502-4.624,0.671-9.689-2.232-13.59L401.429,228.66z M228.66,374.627		c-80.487,0-145.968-65.481-145.968-145.968S148.173,82.692,228.66,82.692s145.968,65.48,145.968,145.967		S309.147,374.627,228.66,374.627z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}

.workspace-tab-header[aria-label="侧边栏天气预报"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 457.32 457.32" ><g id="XMLID_467_">	<path id="XMLID_922_" d="M228.66,112.692c-63.945,0-115.968,52.022-115.968,115.967c0,63.945,52.023,115.968,115.968,115.968		s115.968-52.023,115.968-115.968C344.628,164.715,292.605,112.692,228.66,112.692z"/>	<path id="XMLID_1397_" d="M401.429,228.66l42.467-57.07c2.903-3.9,3.734-8.966,2.232-13.59c-1.503-4.624-5.153-8.233-9.794-9.683		l-67.901-21.209l0.811-71.132c0.056-4.862-2.249-9.449-6.182-12.307c-3.934-2.858-9.009-3.633-13.615-2.077l-67.399,22.753		L240.895,6.322C238.082,2.356,233.522,0,228.66,0c-4.862,0-9.422,2.356-12.235,6.322l-41.154,58.024l-67.4-22.753		c-4.607-1.555-9.682-0.781-13.615,2.077c-3.933,2.858-6.238,7.445-6.182,12.307l0.812,71.132l-67.901,21.209		c-4.641,1.45-8.291,5.059-9.793,9.683c-1.503,4.624-0.671,9.689,2.232,13.59l42.467,57.07l-42.467,57.07		c-2.903,3.9-3.734,8.966-2.232,13.59c1.502,4.624,5.153,8.233,9.793,9.683l67.901,21.208l-0.812,71.132		c-0.056,4.862,2.249,9.449,6.182,12.307c3.934,2.857,9.007,3.632,13.615,2.077l67.4-22.753l41.154,58.024		c2.813,3.966,7.373,6.322,12.235,6.322c4.862,0,9.422-2.356,12.235-6.322l41.154-58.024l67.399,22.753		c4.606,1.555,9.681,0.781,13.615-2.077c3.933-2.858,6.238-7.445,6.182-12.306l-0.811-71.133l67.901-21.208		c4.641-1.45,8.291-5.059,9.794-9.683c1.502-4.624,0.671-9.689-2.232-13.59L401.429,228.66z M228.66,374.627		c-80.487,0-145.968-65.481-145.968-145.968S148.173,82.692,228.66,82.692s145.968,65.48,145.968,145.967		S309.147,374.627,228.66,374.627z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}


/* 侧边栏时钟 */

/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="侧边栏时钟"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="侧边栏时钟"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 340 340" style="enable-background:new 0 0 340 340;" xml:space="preserve"><g id="XMLID_240_">	<path id="XMLID_241_" d="M234.98,185.064h-49.98v-49.982c0-8.284-6.716-15-15.001-15c-8.284,0-15,6.716-15,15v64.982		c0,8.284,6.716,15,15,15h64.98c8.284,0,15-6.716,15-15C249.98,191.779,243.264,185.064,234.98,185.064z"/>	<path id="XMLID_242_" d="M267.046,99.193l18.56-18.56c5.858-5.858,5.858-15.355,0-21.213c-5.856-5.858-15.354-5.857-21.213,0		L243.14,80.671C225.87,70.046,206.132,63.065,185,60.804V30h45c8.284,0,15-6.716,15-15s-6.716-15-15-15H110		c-8.284,0-15,6.716-15,15s6.716,15,15,15h45v30.804c-21.132,2.261-40.871,9.243-58.142,19.868L75.607,59.42		c-5.858-5.858-15.355-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l18.56,18.561C46.491,124.678,30,160.448,30,200		c0,77.196,62.804,140,140,140c77.196,0,140-62.804,140-140C310,160.447,293.509,124.678,267.046,99.193z M170,310		c-60.654,0-110-49.346-110-110c0-60.655,49.346-110.001,110-110.001c60.654,0,110,49.346,110,110.001		C280,260.654,230.654,310,170,310z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}

.workspace-tab-header[aria-label="侧边栏时钟"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 340 340" style="enable-background:new 0 0 340 340;" xml:space="preserve"><g id="XMLID_240_">	<path id="XMLID_241_" d="M234.98,185.064h-49.98v-49.982c0-8.284-6.716-15-15.001-15c-8.284,0-15,6.716-15,15v64.982		c0,8.284,6.716,15,15,15h64.98c8.284,0,15-6.716,15-15C249.98,191.779,243.264,185.064,234.98,185.064z"/>	<path id="XMLID_242_" d="M267.046,99.193l18.56-18.56c5.858-5.858,5.858-15.355,0-21.213c-5.856-5.858-15.354-5.857-21.213,0		L243.14,80.671C225.87,70.046,206.132,63.065,185,60.804V30h45c8.284,0,15-6.716,15-15s-6.716-15-15-15H110		c-8.284,0-15,6.716-15,15s6.716,15,15,15h45v30.804c-21.132,2.261-40.871,9.243-58.142,19.868L75.607,59.42		c-5.858-5.858-15.355-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l18.56,18.561C46.491,124.678,30,160.448,30,200		c0,77.196,62.804,140,140,140c77.196,0,140-62.804,140-140C310,160.447,293.509,124.678,267.046,99.193z M170,310		c-60.654,0-110-49.346-110-110c0-60.655,49.346-110.001,110-110.001c60.654,0,110,49.346,110,110.001		C280,260.654,230.654,310,170,310z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}


/* 网易云播放器 */

/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="网易云播放器"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="网易云播放器"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 12v-1.707c0-4.442-3.479-8.161-7.755-8.29-2.204-.051-4.251.736-5.816 2.256A7.933 7.933 0 0 0 4 10v2c-1.103 0-2 .897-2 2v4c0 1.103.897 2 2 2h2V10a5.95 5.95 0 0 1 1.821-4.306 5.977 5.977 0 0 1 4.363-1.691C15.392 4.099 18 6.921 18 10.293V20h2c1.103 0 2-.897 2-2v-4c0-1.103-.897-2-2-2z"/><path d="M7 12h2v8H7zm8 0h2v8h-2z"/></svg>');   
}

.workspace-tab-header[aria-label="网易云播放器"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 12v-1.707c0-4.442-3.479-8.161-7.755-8.29-2.204-.051-4.251.736-5.816 2.256A7.933 7.933 0 0 0 4 10v2c-1.103 0-2 .897-2 2v4c0 1.103.897 2 2 2h2V10a5.95 5.95 0 0 1 1.821-4.306 5.977 5.977 0 0 1 4.363-1.691C15.392 4.099 18 6.921 18 10.293V20h2c1.103 0 2-.897 2-2v-4c0-1.103-.897-2-2-2z"/><path d="M7 12h2v8H7zm8 0h2v8h-2z"/></svg>');   
}




/* Dashboard */

/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="00. 导航"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

.workspace-tab-header.is-active[aria-label="00. 导航"]
.workspace-tab-header-inner-icon:before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--text-normal) ;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 365.033 365.033"><g>	<g>		<path d="M182.517,0C81.877,0,0,81.877,0,182.518c0,100.64,81.877,182.516,182.517,182.516			c100.639,0,182.516-81.876,182.516-182.516C365.033,81.877,283.156,0,182.517,0z M195.018,339.539v-17.225			c0-6.902-5.598-12.5-12.5-12.5s-12.5,5.598-12.5,12.5v17.225c-76.908-6.068-138.454-67.613-144.521-144.521h17.223			c6.903,0,12.5-5.598,12.5-12.5c0-6.903-5.597-12.5-12.5-12.5H25.496C31.563,93.109,93.109,31.563,170.017,25.496v17.223			c0,6.903,5.597,12.5,12.5,12.5s12.5-5.597,12.5-12.5V25.496c76.908,6.067,138.453,67.613,144.521,144.521h-17.225			c-6.902,0-12.5,5.597-12.5,12.5c0,6.902,5.598,12.5,12.5,12.5h17.225C333.471,271.926,271.926,333.471,195.018,339.539z"/>		<path d="M217.753,187.658c1.556-10.749-1.794-22.077-10.047-30.331c-6.729-6.729-15.674-10.434-25.189-10.434			c-1.743,0-3.467,0.127-5.161,0.372l-53.493-40.926c-4.979-3.809-12.005-3.341-16.435,1.089			c-4.431,4.431-4.896,11.457-1.089,16.435l40.941,53.514c-1.555,10.749,1.794,22.077,10.047,30.331			c6.729,6.729,15.674,10.435,25.189,10.435c1.744,0,3.466-0.127,5.162-0.373l53.492,40.926c2.256,1.726,4.93,2.572,7.592,2.572			c3.219,0,6.42-1.236,8.844-3.66c4.43-4.432,4.896-11.457,1.088-16.436L217.753,187.658z"/>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}

.workspace-tab-header[aria-label="00. 导航"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 365.033 365.033"><g>	<g>		<path d="M182.517,0C81.877,0,0,81.877,0,182.518c0,100.64,81.877,182.516,182.517,182.516			c100.639,0,182.516-81.876,182.516-182.516C365.033,81.877,283.156,0,182.517,0z M195.018,339.539v-17.225			c0-6.902-5.598-12.5-12.5-12.5s-12.5,5.598-12.5,12.5v17.225c-76.908-6.068-138.454-67.613-144.521-144.521h17.223			c6.903,0,12.5-5.598,12.5-12.5c0-6.903-5.597-12.5-12.5-12.5H25.496C31.563,93.109,93.109,31.563,170.017,25.496v17.223			c0,6.903,5.597,12.5,12.5,12.5s12.5-5.597,12.5-12.5V25.496c76.908,6.067,138.453,67.613,144.521,144.521h-17.225			c-6.902,0-12.5,5.597-12.5,12.5c0,6.902,5.598,12.5,12.5,12.5h17.225C333.471,271.926,271.926,333.471,195.018,339.539z"/>		<path d="M217.753,187.658c1.556-10.749-1.794-22.077-10.047-30.331c-6.729-6.729-15.674-10.434-25.189-10.434			c-1.743,0-3.467,0.127-5.161,0.372l-53.493-40.926c-4.979-3.809-12.005-3.341-16.435,1.089			c-4.431,4.431-4.896,11.457-1.089,16.435l40.941,53.514c-1.555,10.749,1.794,22.077,10.047,30.331			c6.729,6.729,15.674,10.435,25.189,10.435c1.744,0,3.466-0.127,5.162-0.373l53.492,40.926c2.256,1.726,4.93,2.572,7.592,2.572			c3.219,0,6.42-1.236,8.844-3.66c4.43-4.432,4.896-11.457,1.088-16.436L217.753,187.658z"/>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');   
}

/* 每日日程图标 */

/* Dashboard */

/*边栏工作区文档图标自定义*/
.workspace-tab-header[aria-label="侧边栏当日日程"]
.workspace-tab-header-inner-icon
> svg{
  display: none;
}

/* ...你之前的代码... */

.workspace-tab-header[aria-label="侧边栏当日日程"]
.workspace-tab-header-inner-icon::before {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDJDNi40ODYgMiAyIDYuNDg2IDIgMTJzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTcuNTE0IDIgMTIgMnptMCAxOGMtNC40MTEgMC04LTMuNTg5LTgtOHMzLjU4OS04IDgtOCA4IDMuNTg5IDggOC0zLjU4OSA4LTggOHoiLz48cGF0aCBkPSJNMTMgNmgtMnY3aDdWOWgtNXoiLz48L3N2Zz4=');
}

/* ...可能的其他代码... */


.workspace-tab-header[aria-label="侧边栏当日日程"]
.workspace-tab-header-inner-icon::before{
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: gray;
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDJDNi40ODYgMiAyIDYuNDg2IDIgMTJzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTcuNTE0IDIgMTIgMnptMCAxOGMtNC40MTEgMC04LTMuNTg5LTgtOHMzLjU4OS04IDgtOCA4IDMuNTg5IDggOC0zLjU4OSA4LTggOHoiLz48cGF0aCBkPSJNMTMgNmgtMnY3aDdWOWgtNXoiLz48L3N2Zz4=');
}


